.widget-showcase b {
  font-size: 2rem;
}
li.showcase-item {
  padding: 5px 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

li.showcase-item:hover {
  border: 1px solid #e1e1e1;
  background: #fdfdfd;
}

li.showcase-item p {
  margin-bottom: 0;
}
