ul.todo-list .todo-item {
  padding: 0.8rem 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ul.todo-list .todo-item:hover {
  background-color: #e5e5e5;
}

ul.todo-list .todo-item a {
  /* color: #f4511e; */
  color: #303030;
}

.todo-done a {
  color: #43a047 !important;
}
