.blur {
  filter: blur(0.2rem);
  transition: all 0.3s ease-in-out;
}

#header:hover .blur {
  filter: blur(0);
  transition: all 0.3s ease-in-out;
}

.nav-item {
  text-align: center;
  padding: 1rem 0;
}

.nav-item:hover {
  background: #e0e0e0;
  color: #fff;
  cursor: pointer;
}
