.post-row {
  margin-bottom: 20px;
}

.post-row .ant-card-body {
  padding: 12px;
}

.post-row .ant-card-bordered {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #e8e8e8;
}

.post-row .ant-tag {
  cursor: pointer;
}

.post-list:hover {
  background-color: #fafafa;
}
