.post-list {
  cursor: pointer;
}
.post-list:hover {
  background-color: #fafafa;
  transform: scale(1.02);
}

.stackoverflow-list .label-list {
  float: right;
  margin-bottom: 10px;
}

.stackoverflow-list .label-list::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  clear: both;
}
