.comment-header {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  color: #586069;
  border-bottom: 0.1rem solid #d1d5da;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;

  background-color: #f1f8ff;
  border-bottom-color: #bfccd1;
  height: 4.2rem;
  line-height: 4.2rem;
}