@import "~normalize.css";
@import "~github-markdown-css";

/*
1rem = 10px
*/
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background-color: #e9ebec;
  /*background-image: url('http://d.5857.com/yzxkgqbz_110726/013.jpg');*/
  background-origin: initial;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#header .mega-octicon {
  font-size: inherit;
  min-width: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-transform: none;
  text-rendering: optimizeLegibility;
}

.edit-this-page-container {
  position: relative;
}

.edit-this-page {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  opacity: 0;
  transition: all .5s;
  transition-delay: 2s;
  z-index: 999;
}

.toolbar-container:hover .edit-this-page {
  padding: 0.5rem 0;
  opacity: 1;
  transition: all .5s;
}

/*framework*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-green {
  background-color: green;
}

.hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mr5 {
  margin-right: 0.5rem;
}

.font-size-2rem {
  font-size: 2rem;
}

.markdown-body ul {
  list-style: initial;
}

.markdown-body ol {
  list-style: initial;
}

/*
markdown style
*/

.markdown-body.post-content h1,
.markdown-body.post-content h2,
.markdown-body.post-content h3,
.markdown-body.post-content h4,
.markdown-body.post-content h5,
.markdown-body.post-content h6 {
  border-left: 0.5rem solid #64ceaa;
  margin-left: -2.4rem;
  margin-right: -2.4rem;
  padding: 0.5rem 0 0.5rem 1.9rem;
  background-color: #F5F5F5;
}