@import "~normalize.css";
@import "~github-markdown-css";
@import "~github-calendar/dist/github-calendar.css";

/*
1rem = 10px
*/
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  background-color: #e9ebec;
  /*background-image: url('http://d.5857.com/yzxkgqbz_110726/013.jpg');*/
  background-origin: initial;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mega-octicon {
  font-size: inherit;
  min-width: 1.4rem;
  margin-right: 0.8rem;
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-transform: none;
  text-rendering: optimizeLegibility;
}

.container {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border: 0.1rem solid #e6e6e6;
  box-shadow: 0.5rem 0.5rem 2rem #e6e6e6;
  transition: all .5s
}

.container:hover {
  box-shadow: 0.8rem 0.8rem 2rem #e6e6e6;
  transition: all .5s
}

.h100 {
  height: 100% !important;
}

.ant-spin-nested-loading, .ant-spin-container {
  height: inherit;
}

.edit-this-page-container {
  position: relative;
}

.edit-this-page {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
  opacity: 0;
  transition: all .5s;
  transition-delay: 2s;
  z-index: 999;
}

.edit-this-page-container:hover .edit-this-page {
  padding: 0.5rem 0;
  opacity: 1;
  transition: all .5s;
}

/*framework*/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.bg-green {
  background-color: green;
}

.hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mr5 {
  margin-right: 0.5rem;
}

.font-size-2rem {
  font-size: 2rem;
}

.markdown-body ul {
  list-style: initial;
}

.markdown-body ol {
  list-style: initial;
}